$static-font-path: '/statics/fonts/';

$font-family-sans: Roboto;
$font-family-sans-variants: (
	400:Regular,
	500:Medium,
	600:Bold,
	800:Black
);

$font-formats: (
".eot",
".woff2",
".woff",
".ttf",
".svg",
".eot"
);

$font-family-icons: fontello;

$icons-font: (
	chevron-up: '\e800',
	chevron-down: '\e801',
	chevron-left: '\e802',
	chevron-right: '\e803',
	code: '\e804',
	menu: '\e805',
	star: '\e806',
);