<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="statics/styles/index.css">
		<script src="https://unpkg.com/lodash@4.16.6"></script>
	</head>
	<body>
		<div class="profile l-page" data-visible="true">
			<header class="l-page__header">
				<div class="back-btn icon-font-chevron-left l-page__header-left-column">
					
				</div>

				<h1 class="l-page__title">Sophie</h1>

				<div class="l-page__header-right-column">

				</div>
			</header>
			<div class="l-page__content">
				<div class="c-profile">
					<div class="c-profile-picture">
						<img src="./statics/img/profile-pic.jpg" >
						<span class="c-profile-picture__online-badge"></span>
					</div>

					<div class="icon-font-star c-profile__data">
						<h2>Sophie, 22</h2>
						<span>New York</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sollicitudin lacus tellus. Donec aliquet maximus metus.</p>
					</div>

					<div class="c-profile__cta">
						<input type="button" class="c-profile__cta" value="ADD AS FRIEND">
					</div>
				</div>
			</div>
		</div>

		<div class="chat l-page">

			<header class="l-page__header">
				<div class="back-btn icon-font-chevron-left l-page__header-left-column">
					
				</div>

				<h1 class="l-page__title">Sophie</h1>

				<div class="l-page__header-right-column">
					
				</div>
			</header>

			<div class="l-page__content">

				<div class="c-chat">
					<div class="c-chat__message">
						<div class="c-chat-left-column">
							
						</div>

						<p class="c-chat__message-content">Sed ac dapibus dui. Morbi et leo faucibus, rhoncus urna et, elementum arcu.</p>

						<div class="c-chat-right-column">
							<div class="c-profile-picture--small">
								<img src="./statics/img/profile-pic.jpg" >
								<span class="c-profile-picture__online-badge"></span>
							</div>
						</div>
					</div>

					<div class="c-chat__input">
						<input type="text" class="" placeholder="Write a message...">
					</div>
				</div>

			</div>
		</div>
	</body>
</html>